# Intro Python

In [ ]:
# https://github.com/YonatanRA/WE_DATA

In [ ]:
# https://docs.mongodb.com/manual/tutorial/install-mongodb-on-windows/

In [ ]:
# https://docs.mongodb.com/manual/administration/install-community/

# Zen de Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# 1.1 Tipos de datos

In [2]:
# cadena de caracteres-strings

print ('hola')

hola

In [3]:
type('hola')

str

In [4]:
'hola'.split('o')

['h', 'la']

In [5]:
'hola que tal'.capitalize()

'Hola que tal'

In [6]:
'hola que tal'.title()

'Hola Que Tal'

In [7]:
'😎'.join('hola que tal'.split())

'hola😎que😎tal'

In [8]:
'HOLA'.lower()

'hola'

In [9]:
'hola'.upper()

'HOLA'

In [10]:
# enteros (int)

print (8)

8

In [11]:
type(8)

int

In [12]:
# reales (float)

print (.2)

0.2

In [13]:
print (2.)

2.0

In [14]:
type(.2)

float

In [15]:
# booleano

print (True)

True

In [16]:
type(False)

bool

In [17]:
# operaciones basicas

3+4

7

In [18]:
3-4

-1

In [19]:
3*4

12

In [20]:
3**4

81

In [21]:
3/4

0.75

In [23]:
3//2

1

In [25]:
4%3

1

In [26]:
# iterables
# listas

lst=[10, 24, 3, 4,4, 65, 5, 7, 8, 9]

lst

[10, 24, 3, 4, 4, 65, 5, 7, 8, 9]

In [27]:
type(lst)

list

In [28]:
lst=list()

type(lst)

list

In [29]:
lst=[10, 24, 3, 4,4, 65, 5, 7, 8, 9]

lst

[10, 24, 3, 4, 4, 65, 5, 7, 8, 9]

In [32]:
lst[2]

3

In [33]:
lst.append('hola')

lst

[10, 24, 3, 4, 4, 65, 5, 7, 8, 9, 'hola']

In [34]:
lst.append(True)

lst

[10, 24, 3, 4, 4, 65, 5, 7, 8, 9, 'hola', True]

In [35]:
lst.append(0.34556)

lst

[10, 24, 3, 4, 4, 65, 5, 7, 8, 9, 'hola', True, 0.34556]

In [36]:
lst.append([2,3,4])

lst

[10, 24, 3, 4, 4, 65, 5, 7, 8, 9, 'hola', True, 0.34556, [2, 3, 4]]

In [37]:
lst.pop()

lst

[10, 24, 3, 4, 4, 65, 5, 7, 8, 9, 'hola', True, 0.34556]

In [38]:
lst.pop(0)

lst

[24, 3, 4, 4, 65, 5, 7, 8, 9, 'hola', True, 0.34556]

In [39]:
a=lst.pop(0)

a

24

In [40]:
lst.count(4)

2

In [41]:
lst.count('hola')

1

In [42]:
lst2=[2,3,4,4,5,56,6,67]

lst.extend(lst2)

lst

[3, 4, 4, 65, 5, 7, 8, 9, 'hola', True, 0.34556, 2, 3, 4, 4, 5, 56, 6, 67]

In [43]:
lst+lst2

[3,
 4,
 4,
 65,
 5,
 7,
 8,
 9,
 'hola',
 True,
 0.34556,
 2,
 3,
 4,
 4,
 5,
 56,
 6,
 67,
 2,
 3,
 4,
 4,
 5,
 56,
 6,
 67]

In [44]:
lst.index('hola')

8

In [45]:
lst[8]

'hola'

In [46]:
lst.remove('hola')

lst

[3, 4, 4, 65, 5, 7, 8, 9, True, 0.34556, 2, 3, 4, 4, 5, 56, 6, 67]

In [47]:
lst.insert(0, 'hola')

lst

['hola', 3, 4, 4, 65, 5, 7, 8, 9, True, 0.34556, 2, 3, 4, 4, 5, 56, 6, 67]

In [48]:
lst.reverse()

lst

[67, 6, 56, 5, 4, 4, 3, 2, 0.34556, True, 9, 8, 7, 5, 65, 4, 4, 3, 'hola']

In [53]:
lst=[1,2,3,43,4,5,6,6]

lst.sort(reverse=True)

lst

[43, 6, 6, 5, 4, 3, 2, 1]

In [54]:
# tuplas (tuple)

tup=(1,2,3)
tup

(1, 2, 3)

In [55]:
type(tup)

tuple

In [57]:
t1, t2, t3=tup

print (t1, t2, t3)

1 2 3

In [58]:
tup.append(0)

AttributeError: 'tuple' object has no attribute 'append'

In [60]:
tup.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [61]:
tup[0]=2

tup

TypeError: 'tuple' object does not support item assignment

In [62]:
# diccionarios (dict)

d={1:'uno', 'dos':2, 'tres':3}

d

{1: 'uno', 'dos': 2, 'tres': 3}

In [63]:
type(d)

dict

In [64]:
d['dos']

2

In [65]:
d[1]

'uno'

In [66]:
d['dos']=2*2

d

{1: 'uno', 'dos': 4, 'tres': 3}

In [67]:
d.update({'dos':20})
d

{1: 'uno', 'dos': 20, 'tres': 3}

In [68]:
d.update({'dos':[1,2,3,4,5,6]})
d

{1: 'uno', 'dos': [1, 2, 3, 4, 5, 6], 'tres': 3}

In [69]:
d['dos']

[1, 2, 3, 4, 5, 6]

In [70]:
type(d['dos'])

list

In [71]:
d['a']=23

d

{1: 'uno', 'dos': [1, 2, 3, 4, 5, 6], 'tres': 3, 'a': 23}

In [72]:
d.keys()

dict_keys([1, 'dos', 'tres', 'a'])

In [73]:
d.values()

dict_values(['uno', [1, 2, 3, 4, 5, 6], 3, 23])

In [74]:
d.items()

dict_items([(1, 'uno'), ('dos', [1, 2, 3, 4, 5, 6]), ('tres', 3), ('a', 23)])

In [75]:
d.popitem()

d

{1: 'uno', 'dos': [1, 2, 3, 4, 5, 6], 'tres': 3}

In [76]:
d.get('dos')

[1, 2, 3, 4, 5, 6]

In [77]:
d.get('cuatro', 'No existe esa clave...')

'No existe esa clave...'

In [78]:
d.get('cuatro', True)

True

In [79]:
d.clear()

d

{}

In [80]:
# conjuntos (set)

lst=[1,1,1,1,2,2,2,2,3,34,3,3,4,5,455]

set(lst)

{1, 2, 3, 4, 5, 34, 455}

In [81]:
s={1,1,2,2,2,3,3,3,34,43,4,54,5,5,5,56,56,56}

s

{1, 2, 3, 4, 5, 34, 43, 54, 56}

In [82]:
type(s)

set

In [83]:
s1=set(lst)

s2={1,1,2,2,2,3,3,3,34,43,4,54,5,5,5,56,56,56}

In [84]:
s1.union(s2)

{1, 2, 3, 4, 5, 34, 43, 54, 56, 455}

In [85]:
s1.intersection(s2)

{1, 2, 3, 4, 5, 34}

In [86]:
s1.isdisjoint(s2)

False

In [87]:
s1.issubset(s2)

False

In [88]:
s1.issuperset(s2)

False

In [89]:
s1.add(100)

s1

{1, 2, 3, 4, 5, 34, 100, 455}

In [90]:
s1-s2

{100, 455}

In [91]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [92]:
s1.pop()

1

In [93]:
s1.clear()

s1

set()

# 1.2 - Bucles y condicionales

In [97]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [98]:
lst=[1,2,3,4,5,6,7,8,9]

for i in range(9):
    print (lst[i]*2)

2
4
6
8
10
12
14
16
18

In [99]:
for e in lst:
    print (e)

1
2
3
4
5
6
7
8
9

In [100]:
for i,e in enumerate(lst):
    print (i, e*2)

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16
8 18

In [101]:
lst=[]

for i in range(4):
    lst.append(i)
    
lst

[0, 1, 2, 3]

In [102]:
lst=[i for i in range(4)]

lst

[0, 1, 2, 3]

In [104]:
lst=[]

for i in range(4):
    for j in range(2):
        lst.append([i,j])
        
lst

[[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1]]

In [105]:
lst=[[i,j] for i in range(4) for j in range(2)]

lst

[[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1]]

In [106]:
d={1:'uno', 'dos':2, 'tres':3}

d

{1: 'uno', 'dos': 2, 'tres': 3}

In [107]:
for k in d.keys():
    print (k)

1
dos
tres

In [108]:
for v in d.values():
    print (v)

uno
2
3

In [109]:
for it in d.items():
    print (it)

(1, 'uno')
('dos', 2)
('tres', 3)

In [111]:
dictio={k:v for k,v in lst}

dictio

{0: 1, 1: 1, 2: 1, 3: 1}

In [115]:
lst1=['yo', 'tu', 'nosotros']
lst2=[1,4,9]

list(zip(lst1, lst2))

[('yo', 1), ('tu', 4), ('nosotros', 9)]

In [113]:
dictio={k:v for k,v in zip(lst1, lst2)}

dictio

{'yo': 1, 'tu': 4, 'nosotros': 9}

In [116]:
for e in lst1:
    for letra in e:
        print (letra)

y
o
t
u
n
o
s
o
t
r
o
s

In [118]:
# condicionales

print (lst2)

for e in lst2:
    
    if e<2:
        print ('pequeño') # 1
        
    elif e>=2 and e<8:
        print ('mediano') # 4
    
    else:
        print ('grande') # 9

[1, 4, 9]
pequeño
mediano
grande

In [119]:
lst=[i for i in range(20) if i%2==0]

lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [120]:
lst_lst=[[1,2,3,4,5], [6,7,8], [9,10]]

In [121]:
lst=[]

for e in lst_lst:
    if len(e)<4:
        for f in e:
            if f%2==0:
                lst.append(str(f)+'a')
                
lst

['6a', '8a', '10a']

In [122]:
lst=[str(f)+'a' for e in lst_lst if len(e)<4 for f in e if f%2==0]

lst

['6a', '8a', '10a']

In [125]:
lst=[i for i in range(20) if i%2==0]

print (lst)

d={k:v**3 for k,v in zip(lst, lst) if k<12 and v<8}

d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

{0: 0, 2: 8, 4: 64, 6: 216}

# 1.3 - Funciones

In [127]:
# built-in

sum(lst)

90

In [128]:
len(lst)

10

In [129]:
max(lst)

18

In [130]:
min(lst)

0

In [131]:
# https://docs.python.org/3/library/functions.html

In [132]:
# custom

def suma(a,b,c):
    return a+b+c

In [133]:
suma(1,2,3)

6

In [134]:
type(suma)

function

In [135]:
suma(1,2, suma(1,5,78))

87

In [136]:
su=suma(1,2,3)

su

6

In [137]:
def suma_lst(lst):
    res=0
    
    for e in lst:
        res+=e # res=res+e
    
    return res

In [138]:
suma_lst(lst)

90

In [139]:
def long(lst):
    res=0
    
    for e in lst:
        res+=1
    
    return res

In [140]:
long(lst)

10

In [141]:
def maximo(lst):
    res=0
    
    for e in lst:
        if e>res:
            res=e
    return res

In [142]:
maximo(lst)

18

In [144]:
def saluda(nombre, lang='es', colega=True):
    s=''
    
    if lang=='es':
        if colega:
            s='colega!!!!'
        print ('Hola {} {}'.format(nombre, s))
        
    if lang=='en':
        if colega:
            s='buddy!!!'
        
        print ('Hello {} {}'.format(nombre, s))

In [145]:
saluda('Pepe')

Hola Pepe colega!!!!

In [149]:
saluda('Pepe', colega=False)

Hola Pepe

In [147]:
saluda('Pepe', 'en')

Hello Pepe buddy!!!

In [150]:
saluda('Pepe', 'en', False)

Hello Pepe

In [154]:
def saludo_multiple(*lst, lang='es'):
    for e in lst:
        saluda(e, lang)

In [157]:
saludo_multiple('Ana', 'Maria', 'Juan', lang='es')

Hola Ana colega!!!!
Hola Maria colega!!!!
Hola Juan colega!!!!

In [158]:
def saludo_multiple(*lst, lang='en', vac=False):
    print (lst)
    print (lang)
    print (vac)
    
    if vac: print ('🍻')
    
    for e in lst:
        saluda(e, lang)

In [161]:
config={'lang':'es', 'vac':False}

In [162]:
saludo_multiple('Ana', 'Maria', 'Juan', **config)

('Ana', 'Maria', 'Juan')
es
False
Hola Ana colega!!!!
Hola Maria colega!!!!
Hola Juan colega!!!!

In [ ]:
# recursividad

def ackermann(m, n):
    
    if m==0:
        return n+1