# Encontramos tu oficina

In [1]:
# librerias

from pymongo import MongoClient

import pandas as pd
from pandas.io.json import json_normalize

import re
import folium

In [2]:
# conexion con Mongo

cliente=MongoClient()

db=cliente.companies

In [9]:
def data():    # funcion para realizar query a mongoDB
    query=(db.companies.find({'$and':[{'$or': [{'category_code':'games_video'},
                                               {'category_code':'software'},
                                               {'category_code':'web'},
                                               {'category_code':'mobile'},
                                               {'category_code':'photo_video'},
                                               {'category_code':'ecommerce'},
                                               {'category_code':'search'},
                                               {'category_code':'network_hosting'}]},
                             {'founded_year': {'$gte':1999}},
                             {'offices': {'$ne':[]}}, 
                             {'offices.latitude': {'$ne':[]}},
                             {'offices.longitude': {'$ne':[]}},
                             {'offices.latitude': {'$ne':None}},
                             {'offices.longitude': {'$ne':None}},         
                             {'deadpooled_year':None},
                             {'number_of_employees': {'$ne':None}},
                             {'total_money_raised': {'$ne':None}}]},

                             {'name':1, '_id':0, 'offices.latitude':1, 'offices.longitude':1, 
                              'founded_year':1, 'category_code':1, 'number_of_employees':1,
                              'total_money_raised':1}))

    
    df=json_normalize(data=query, record_path='offices',
                      meta=['category_code', 'name', 'number_of_employees',
                            'founded_year', 'total_money_raised'])
    
    
    df.insert(2, 'geo_loc', pd.Series(list(range(len(df)))))
    df['geo_loc']=df.apply(lambda x: [x['longitude'], x['latitude']], axis=1)
    
    return df

In [10]:
data().tail(10)

,latitude,longitude,geo_loc,category_code,name,number_of_employees,founded_year,total_money_raised
2871,29.735462,-95.413243,"[-95.413243, 29.735462]",games_video,Fictionaut,2,2008,$0
2872,40.756054,-73.986951,"[-73.986951, 40.756054]",web,Conversition,10,2008,$0
2873,48.869995,2.340695,"[2.3406954, 48.8699947]",software,PubliAtis,10,2006,€1M
2874,59.617364,16.559539,"[16.5595393, 59.617364]",web,Gastrogate,12,1999,$0
2875,49.282455,-123.109217,"[-123.109217, 49.2824551]",games_video,Tiny Speck,45,2009,$17.2M
2876,38.752367,-9.146221,"[-9.1462209, 38.7523672]",games_video,My TV Shows,2,2007,$0
2877,54.323738,10.166515,"[10.1665152, 54.323738]",network_hosting,AwardSpace,35,2004,$0
2878,43.676252,-79.400859,"[-79.4008589, 43.6762521]",search,Buddhacom,8,2008,$0
2879,51.517742,-0.116537,"[-0.1165365, 51.5177425]",mobile,acrossair,6,2009,$0
2880,50.839970,4.346472,"[4.3464721, 50.83997]",mobile,Getyoo,10,2009,€1.13M

In [ ]:
def exchange()